[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
langchainhub = "*"
langchain-community = "*"
langchain-openai = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
